.backgroundimg {
    width: 100%;
}
.back_cont {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}




.main_container{
    /* border: 1px solid rgb(20, 20, 18); */
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 20px;
}

.container{
    /* border: 1px solid red; */
    padding: 5px;
}

.container_image{
    width: 100%;
    height: 350px;
}

.desc{
    padding: 3px;
}

.footer{
    margin-top: 20px;
    background-color: black;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_container{
    padding: 20px;
    font-size: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 220px;
    text-align: center;
}

.footer_address{
    margin-top: 40px;
    padding: 10px;
    font-size: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 220px;
    text-align: center;
    text-align: left;
}

.footer_links{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 220px;
    justify-items: center;
}

.footer_icon {
    width: 64px;
    height: auto;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar_content {
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.navbar_content:hover{
    background-color: rgb(183, 179, 179);
}

/* Media Query for Responsive Design */

@media only screen and (max-width: 1350px) {
    .container_image{
        width: 100%;
        height: 250px;
    }
}

@media only screen and (max-width: 1150px) {
    .main_container{
        grid-template-columns: 1fr 1fr;
    }
    .container_image {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 950px) {
    .main_container{
        grid-template-columns: 1fr 1fr;
    }
    .container_image {
        width: 100%;
        height: 280px;
    }
}

@media only screen and (max-width: 850px) {
    .main_container{
        grid-template-columns: 1fr 1fr;
    }
    .container_image {
        width: 100%;
        height: 260px;
    }
}

@media only screen and (max-width: 750px) {
    .main_container{
        grid-template-columns: 1fr 1fr;
    }
    .container_image {
        width: 100%;
        height: 240px;
    }
}

@media only screen and (max-width: 600px) {
    .main_container{
        grid-template-columns: 1fr;
    }
    .container_image {
        width: 100%;
        height: 350px;
    }
}

